@mixin section-width() {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @media #{$min-tablet-width} {
    max-width: $max-tablet-wrapper;
  }
  @media #{$min-desktop-width} {
    max-width: $max-desktop-wrapper;
  }
}

@mixin paddings() {
  @media #{$max-mobile-width} {
    padding-left: $padding--mobile;
    padding-right: $padding--mobile;
  }
  @media #{$min-tablet-width} {
    padding-left: $padding--tablet;
    padding-right: $padding--tablet;
  }
  @media #{$min-desktop-width} {
    padding-left: $padding--desktop;
    padding-right: $padding--desktop;
  }
}

@mixin paddings--no-mobile() {
  @media #{$min-tablet-width} {
    padding-left: $padding--tablet;
    padding-right: $padding--tablet;
  }
  @media #{$min-desktop-width} {
    padding-left: $padding--desktop;
    padding-right: $padding--desktop;
  }
}

@mixin centers {
  margin-left: auto;
  margin-right: auto;
}

@mixin main-title {
  font-weight: 700;
  @media #{$max-mobile-width} {
    color: #6b3b00;
    font-size: 2.4rem;
  }
  @media #{$min-tablet-width} {
    color: #492f06;
    font-size: 2.5rem;
  }
  @media #{$min-desktop-width} {
    font-size: 3.6rem;
  }
}

@mixin main-btn {
  color: #ad5f38;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("/img/wood/button--tablet.png");
  background-color: transparent;
  font-weight: 500;
  transition: $animate;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  & span {
    color: #683b24;
    position: relative;
    @media #{$max-mobile-width} {
      padding-right: 15px;
    }
    @media #{$min-tablet-width} {
      padding-right: 10px;
    }
    @media #{$min-desktop-width} {
      padding-right: 15px;
    }
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/img/wood/button-right.png");
      @media #{$max-mobile-width} {
        width: 9px;
        height: 10px;
        transform: translateY(-3px);
      }
      @media #{$min-tablet-width} {
        width: 7px;
        height: 10px;
        transform: translateY(-5px);
      }
      @media #{$min-desktop-width} {
        transform: translateY(-4px);
        width: 7px;
        height: 10px;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 0 5px rgba(154, 120, 98, 0.3);
  }
  &:active {
    box-shadow: 0 0 15px 10px rgba(154, 120, 98, 0.3);
  }
}
@mixin main-btn--alt {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  &:active {
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.3);
  } 
}
@mixin close-btn {
  position: absolute;
  z-index: 14;
  @media #{$max-mobile-width} {
    width: 35px;
    height: 35px;
    top: -45px;
    right: 13px;
    background-color: transparent;
  }
  @media #{$min-tablet-width} {
    width: 35px;
    height: 35px;
    top: -35px;
    right: -35px;
    background-color: transparent;
  }
  &::before {
    position: absolute;
    transition: $animate;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-15px, -1px) rotate(45deg);
  }
  &:hover::before {
    background-color: $links-color--hover;
  }
  &::after {
    position: absolute;
    transition: $animate;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-15px, -1px) rotate(-45deg);
  }
  &:hover::after {
    background-color: $links-color--hover;
  }
}

@mixin main-input {
  font-weight: 300;
  color: #a77961;
  border: 1px solid #a77961;
  transition: $animate;
  box-shadow: 0 0 0 0 rgba(154, 120, 98, 0.3);
  &::-webkit-input-placeholder {
    color: #a77961;
  }
  &:-ms-input-placeholder {
    color: #a77961;
  }
  &::-ms-input-placeholder {
    color: #a77961;
  }
  &::placeholder {
    color: #a77961;
  }
  @media #{$max-mobile-width} {
    font-size: 1.5rem;
    padding-left: 43px;
    padding-right: 20px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.5rem;
    padding-left: 43px;
    padding-right: 16px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.7rem;
    padding-left: 52px;
    padding-right: 20px;
  }
  &:hover {
    box-shadow: 0 0 0 5px rgba(154, 120, 98, 0.3);
  }
  &:focus {
    box-shadow: 0 0 0 5px rgba(154, 120, 98, 0.3);
  }
}
@mixin main-input--alt {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  &:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  &:focus {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
}
@mixin main-input--name {
  background-repeat: no-repeat;
  background-image: url("/img/wood/name_icon.svg");
  @media #{$max-mobile-width} {
    background-size: 9px 10px;
    background-position: 25px center;
  }
  @media #{$min-tablet-width} {
    background-size: 9px 10px;
    background-position: 23px center;
  }
  @media #{$min-desktop-width} {
    background-size: 12px 15px;
    background-position: 31px center;
  }
}

@mixin main-input--phone {
  background-repeat: no-repeat;
  background-image: url("/img/wood/phone_icon.svg");
  @media #{$max-mobile-width} {
    background-size: 7px 12px;
    background-position: 27px center;
  }
  @media #{$min-tablet-width} {
    background-size: 7px 12px;
    background-position: 27px center;
  }
  @media #{$min-desktop-width} {
    background-size: 9px 16px;
    background-position: 33px center;
  }
}

@mixin specs-btn {
  border: 1px solid #734021;
  box-shadow: inset 0 -1px 0 0 #481901, inset 0 -2px 0 0 #f0ac77;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("/img/wood/specs__btn-bg.jpg");
  color: $text-alt-color;
  font-weight: 500;
  border-radius: 3rem;
  transition: $animate;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #663d24;
  @media #{$max-mobile-width} {
    font-size: 1.3rem;
    min-height: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.3rem;
    min-height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.5rem;
    min-height: 2.6rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
  }
  &:hover {
    box-shadow: inset 0 0 0 0 #481901, inset 0 -1px 0 0 #f0ac77;
    transform: translateY(1px);
  }
  & span {
    filter: drop-shadow(0 0 1px black);
  }
}
@mixin specs-btn--active {
  border: 1px solid #915830;
  background: url("/img/wood/specs__nav-ellips.png"), url("/img/wood/specs__btn-bg.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: 100% 100%;
  box-shadow: none;
  &:hover {
    box-shadow: inset 0 0 0 0 #481901, inset 0 -1px 0 0 #f0ac77;
    transform: translateY(0);
  }
}