.main-nav {
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    margin-left: 25px;
    flex-grow: 1;
  }
  @media #{$min-desktop-width} {
    margin-left: 110px;
  }
}
.main-nav__list {
  padding-left: 0;
  @media #{$min-tablet-width} {
    display: flex;
    justify-content: space-between;
    @media #{$max-tablet-width} {
      max-width: 420px;
    }
    @media #{$min-desktop-width} {
      max-width: 560px;
    }
  }
}
.main-nav__item-link {
  color: $text-main-color;
  font-weight: 500;
  position: relative;
  @media #{$min-tablet-width} {
    font-size: 1.4rem;
  }
  @media #{$min-desktop-width} {
    font-size: 1.7rem;
  }
  &:hover {
    color: #666666;
  }
  &:hover::after {
    position: absolute;
    content: "";
    left: 0;
    background-color: #666666;
    @media #{$min-tablet-width} {
      bottom: -5px;
      width: 100%;
      height: 1px;
    }
    @media #{$min-desktop-width} {
      height: 2px;
      bottom: -10px;
    }
  }
}