.feedback {
  background-repeat: no-repeat;
  @media #{$max-mobile-width} {
    background-position: 50% 0px;
    background-size: 320px 56px;
    background-image: url("/img/wood/feedback__bt-text--mobile.png");
  }
  @media #{$min-tablet-width} {
    background-position: 50% 0px;
    background-size: 558px 98px;
    background-image: url("/img/wood/feedback__bt-text--tablet.png");
  }
  @media #{$min-desktop-width} {
    background-position: 80% 20px;
    background-size: 1052px 180px;
    background-image: url("/img/wood/feedback__bt-text--desktop.png");
  }
}
.feedback__wrapper {
  @include paddings;
  @include section-width;
  @media #{$max-mobile-width} {
    padding-top: 15px;
  }
  @media #{$min-tablet-width} {
    padding-top: 30px;
  }
  @media #{$min-desktop-width} {
    padding-top: 60px;
  }
}
.feedback__title {
  @include main-title;
  margin-top: 0;
  margin-bottom: 0;
}
.feedback__list {
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
  @media #{$min-tablet-width} {
    margin-top: 15px;
  }
  @media #{$min-desktop-width} {
    margin-top: 50px;
  }
  &::after {
    @media #{$min-desktop-width} {
      position: absolute;
      content: "";
      right: -20px;
      top: -77px;
      width: 138px;
      height: 95px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/img/wood/feedback__strugka--desktop.png");
    }
  }
}
.feedback__item {
  position: relative;
  cursor: pointer;
}
.feedback__text-field {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  @media #{$max-mobile-width} {
    justify-content: center;
    padding: 20px 10px 15px 10px;
  }
  @media #{$min-tablet-width} {
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 17px;
    padding-bottom: 13px;
  }
  @media #{$min-desktop-width} {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 48px;
    padding-bottom: 35px;
  }
}
.feedback__author {
  font-weight: 500;
  color: $text-alt-color;
  @media #{$max-mobile-width} {
    font-size: 1.3rem;
    text-align: center;
  }
  @media #{$min-tablet-width} {
    font-size: 1.3rem;
  }
  @media #{$min-desktop-width} {
    font-size: 1.8rem;
  }
}
.feedback__text {
  color: $text-alt-color;
  text-align: center;
  @media #{$max-mobile-width} {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-top: 28px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  @media #{$min-desktop-width} {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
.feedback__address {
  color: $text-alt-color;
  @media #{$max-mobile-width} {
    font-size: 1.2rem;
    margin-top: 50px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.2rem;
  }
  @media #{$min-desktop-width} {
    font-size: 1.5rem;
  }
}