.contacts {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.contacts__wrapper {
  @include section-width;
  @include paddings;
  @media #{$max-mobile-width} {
    padding-left: $padding--mobile;
    padding-right: $padding--mobile;
    padding-top: 33px;
    padding-bottom: 38px;
  }
  @media #{$min-tablet-width} {
    display: flex;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-position: 100% 9px;
    background-size: 746px 104px;
    background-image: url("/img/main/contacts__bt-text--tablet.png");
  }
  @media #{$min-desktop-width} {
    padding-top: 87px;
    background-position: 50% 44px;
    background-size: 1320px 180px;
    background-image: url("/img/main/contacts__bt-text--desktop.png");
  }
}
.contacts__title {
  color: #333333;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-weight: 700;
    font-size: 2.4rem;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.contacts__map-field {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  @media #{$max-mobile-width} {
    height: 354px;
    margin-top: 10px;
    background-image: url("/img/main/contacts__map--mobile.jpg");
  }
  @media #{$min-tablet-width} {
    width: 459px;
    height: 270px;
    background-image: url("/img/main/contacts__map--tablet.jpg");
    border-top-left-radius: 96px;
    border-bottom-right-radius: 22px;
    margin-right: 30px;
    flex-grow: 1;
  }
  @media #{$min-desktop-width} {
    width: 865px;
    height: 422px;
    background-image: url("/img/main/contacts__map--desktop.jpg");
    margin-right: 70px;
  }
}
.contacts__text-field {
  @media #{$max-mobile-width} {
    margin-top: 20px;
  }
  @media #{$min-tablet-width} {
    width: 229px;
    flex-shrink: 0;
  }
  @media #{$min-desktop-width} {
    width: 332px;
    padding-top: 30px;
  }
}
.contacts__text-title {
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    color: #333333;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 32px;
  }
  @media #{$min-desktop-width} {
    font-size: 3.6rem;
    margin-bottom: 47px;
  }
}
.contacts__link {
  font-weight: 500;
  display: block;
  position: relative;
  @media #{$max-mobile-width} {
    font-size: 1.5rem;
    padding-left: 28px;
    margin-top: 15px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.5rem;
    padding-left: 15px;
    margin-top: 5px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.9rem;
    padding-left: 21px;
    margin-top: 10px;
  }
}
.contacts__link--address {
  font-style: normal;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/img/main/place2_icon.svg");
    @media #{$max-mobile-width} {
      width: 20px;
      height: 20px;
      top: -2px;
    }
    @media #{$min-tablet-width} {
      width: 12px;
      height: 12px;
      top: 2px;
    }
    @media #{$min-desktop-width} {
      width: 15px;
      height: 15px;
      top: 2px;
    }
  }
}
.contacts__link--phone {
  font-style: normal;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/img/main/phone2_icon.svg");
    @media #{$max-mobile-width} {
      width: 20px;
      height: 20px;
      top: -2px;
    }
    @media #{$min-tablet-width} {
      width: 12px;
      height: 12px;
      top: 2px;
    }
    @media #{$min-desktop-width} {
      width: 15px;
      height: 15px;
      top: 2px;
    }
  }
}
.contacts__link--mail {
  font-style: normal;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/img/main/mail_icon.svg");
    @media #{$max-mobile-width} {
      width: 20px;
      height: 20px;
      top: -2px;
    }
    @media #{$min-tablet-width} {
      width: 12px;
      height: 12px;
      top: 2px;
    }
    @media #{$min-desktop-width} {
      width: 15px;
      height: 15px;
      top: 2px;
    }
  }
}
.contacts__desc {
  display: block;
  position: relative;
  @media #{$max-mobile-width} {
    font-size: 1.2rem;
    padding-left: 28px;
    margin-top: 6px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.2rem;
    padding-left: 15px;
    margin-top: 5px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.5rem;
    padding-left: 21px;
    margin-top: 12px;
  }
}
.contacts__callback-btn {
  border: 1px solid #3fb3c1;
  color: #3fb3c1;
  background-color: transparent;
  border-radius: 6rem;
  transition: $animate;
  display: block;
  @media #{$max-mobile-width} {
    width: 220px;
    min-height: 4.6rem;
    @include centers;
    margin-top: 36px;
  }
  @media #{$min-tablet-width} {
    width: 170px;
    min-height: 3.6rem;
    margin-top: 26px;
  }
  @media #{$min-desktop-width} {
    width: 198px;
    min-height: 4.5rem;
    margin-top: 38px;
  }
  &:hover {
    background-color: #3fb3c1;
    color: #fff;
  }
  &:hover .contacts__callback-btn-text::after {
    background-size: 0 0, contain;
    background-image: url("/img/main/but_arrow_icon.svg"), url("/img/main/but_arrow_icon--hover.svg");
  }
}
.contacts__callback-btn-text {
  font-weight: 500;
  font-size: 1.5rem;
  padding-right: 11px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, 0 0;
    background-image: url("/img/main/but_arrow_icon.svg"), url("/img/main/but_arrow_icon--hover.svg");
    width: 6px;
    height: 8px;
    top: 50%;
    right: 0;
    transform: translateY(-4px);
  }
}