.utp {
  position: relative;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media #{$max-mobile-width} {
    background-image: url("/img/plastic/utp__bg--mobile.jpg");
    padding-left: $padding--mobile;
    padding-right: $padding--mobile;
    padding-top: 32px;
    padding-bottom: 76px;
  }
  @media #{$min-tablet-width} {
    background-image: url("/img/plastic/utp__bg--tablet.jpg");
  }
  @media #{$min-desktop-width} {
    background-image: url("/img/plastic/utp__bg--desktop.jpg");
  }
}

.utp__wrapper {
  @include section-width;
  @include paddings;
  @media #{$max-mobile-width} {
    position: relative;
    @include centers;
    padding-top: 21px;
  }
  @media #{$min-tablet-width} {
    padding-top: 42px;
    padding-bottom: 45px;
  }
  @media #{$min-desktop-width} {
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
    padding-bottom: 85px;
  }
}

.utp__wrapper-tech {
  @media #{$max-mobile-width} {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}

.utp__wrapper--mobile {
  @media #{$min-tablet-width} {
    display: none !important;
  }
}

.utp__wrapper--tablet {
  @media #{$max-mobile-width} {
    display: none;
  }
}

.utp__list {
  padding-left: 0;
  margin-top: 0;
  @media #{$max-mobile-width} {
    margin-top: 13px;
    position: relative;
    margin-bottom: 0;
  }
  @media #{$min-tablet-width} {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include centers;
  }
  @media #{$min-desktop-width} {
    width: 632px;
    padding-left: 0;
    padding-right: 0;
    flex-shrink: 0;
    margin-left: 108px;
    margin-bottom: -25px;
  }
}

.utp__list .owl-dots {
  @media #{$max-mobile-width} {
    position: absolute;
    bottom: -42px;
    left: 0;
    width: 100%;
  }
}

.utp__item {
  @media #{$min-tablet-width} {
    width: 32%;
  }
  @media #{$min-desktop-width} {
    width: 200px;
  }
}

.utp__item-content {
  @media #{$max-mobile-width} {
    padding-top: 10px;
    max-width: $max-mobile-wrapper;
    @include centers;
  }
}

.utp__item-table {
  position: relative;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: $animate;
  @media #{$max-mobile-width} {
    border: 1px solid #fff;
    background-color: #fff;
    width: 200px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    border: 1px solid #ffb798;
    margin-bottom: 25px;
  }
  @media #{$max-mobile-width} {
    box-shadow: 0 5px 25px 0 rgba(51, 29, 0, 0.6);
  }
  &:hover {
    box-shadow: 0 5px 25px 0 rgba(51, 29, 0, 0.6);
  }
}
.utp__item-table--tablet {
  &:hover {
    border: 1px solid #fff;
    box-shadow: 0 11px 37px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}
.utp__item-table--tablet-active {
  border: 1px solid #fff;
  box-shadow: 0 11px 37px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.utp__item-table-content {
  border-radius: 5px;
  position: relative;
  min-height: 14.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 12px;
  @media #{$max-mobile-width} {
    background-color: $main-bg;
  }
}

.utp__item-tech {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.utp__item-img {
  position: absolute;
  left: 50%;
  top: 50%;
}

.utp__item-img--1 {
  width: 54px !important;
  height: 54px !important;
  transform: translate(-27px, -41px);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 0 0;
  background-image: url("/img/plastic/utp__1.svg"), url("/img/plastic/utp__1--active.svg");
  @media #{$max-mobile-width} {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__1.svg"), url("/img/plastic/utp__1--active.svg");
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__1.svg"), url("/img/plastic/utp__1--active.svg");
  }
}
.utp__item-img--2 {
  width: 70px !important;
  height: 38px !important;
  transform: translate(-35px, -25px);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 0 0;
  background-image: url("/img/plastic/utp__2.svg"), url("/img/plastic/utp__2--active.svg");
  @media #{$max-mobile-width} {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__2.svg"), url("/img/plastic/utp__2--active.svg");
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__2.svg"), url("/img/plastic/utp__2--active.svg");
  }
}
.utp__item-img--3 {
  width: 54px !important;
  height: 61px !important;
  transform: translate(-27px, -41px);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 0 0;
  background-image: url("/img/plastic/utp__3.svg"), url("/img/plastic/utp__3--active.svg");
  @media #{$max-mobile-width} {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__3.svg"), url("/img/plastic/utp__3--active.svg");
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__3.svg"), url("/img/plastic/utp__3--active.svg");
  }
}
.utp__item-img--4 {
  width: 73px !important;
  height: 44px !important;
  transform: translate(-37px, -31px);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 0 0;
  background-image: url("/img/plastic/utp__4.svg"), url("/img/plastic/utp__4--active.svg");
  @media #{$max-mobile-width} {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__4.svg"), url("/img/plastic/utp__4--active.svg");
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__4.svg"), url("/img/plastic/utp__4--active.svg");
  }
}
.utp__item-img--5 {
  width: 64px !important;
  height: 59px !important;
  transform: translate(-33px, -41px);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 0 0;
  background-image: url("/img/plastic/utp__5.svg"), url("/img/plastic/utp__5--active.svg");
  @media #{$max-mobile-width} {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__5.svg"), url("/img/plastic/utp__5--active.svg");
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__5.svg"), url("/img/plastic/utp__5--active.svg");
  }
}
.utp__item-img--6 {
  width: 52px !important;
  height: 57px !important;
  transform: translate(-26px, -35px);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 0 0;
  background-image: url("/img/plastic/utp__6.svg"), url("/img/plastic/utp__6--active.svg");
  @media #{$max-mobile-width} {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__6.svg"), url("/img/plastic/utp__6--active.svg");
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    background-size: 0 0, contain;
    background-image: url("/img/plastic/utp__6.svg"), url("/img/plastic/utp__6--active.svg");
  }
}

.utp__item-description {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  @media #{$max-mobile-width} {
    color: #ff8142;
  }
  .utp__item-content:hover &,
  .utp__item-table--tablet-active & {
    color: #ff8142;
  }
}

.utp__description-field {
  position: relative;
  @media #{$min-tablet-width} {
    padding-top: 37px;
    @media #{$max-tablet-width} {
      margin-top: 15px;
      margin-left: 45px;
      margin-right: 45px;
      min-height: 252px;
      padding-bottom: 20px;
    }
  }
  @media #{$min-desktop-width} {
    width: 458px;
    flex-shrink: 0;
    margin-right: 13px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.utp__description-tech {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.utp__title {
  font-weight: 700;
  color: $text-alt-color;
  margin-top: 0;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-size: 2.4rem;
    text-align: center;
  }
  @media #{$min-tablet-width} {
    font-size: 2.5rem;
    @media #{$max-tablet-width} {
      text-align: center;
    }
  }
  @media #{$min-desktop-width} {
    font-size: 3.6rem;
  }
}

.utp__deslist {
  padding-left: 0;
}
.utp__desitem:not(:nth-child(1)) {
  display: none;
}
.utp__desitem-title {
  font-weight: 500;
  color: $text-alt-color;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    font-size: 1.9rem;
    margin-top: 13px;
    @media #{$max-tablet-width} {
      text-align: center;
    }
  }
  @media #{$min-desktop-width} {
    font-size: 2.3rem;
  }
}

.utp__desitem-text {
  color: $text-alt-color;
  @media #{$max-mobile-width} {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.7rem;
    line-height: 2.5rem;
    @media #{$max-tablet-width} {
      text-align: center;
      max-width: 472px;
      @include centers;
      margin-top: 25px;
    }
  }
  @media #{$min-desktop-width} {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}